*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    
}


.clock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 8px 1px #0f0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.clock::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #0f0;
    box-shadow: 0px 0px 4px 2px #0f0;
    border-radius: 50%;
    z-index: 12;
}

.clock .numbers-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock .numbers-container .number{
    position: absolute;
    color: #0f0;
    text-shadow: 0 0 20px #0f0;
    transition: 1s;
    transform: rotate(calc(360deg / 12 * var(--n))) translate(0px , -90px) ;
}

.clock .numbers-container .number .num{
    color: inherit;
    transform: rotate(calc(360deg / (-12) * var(--n)));
}

.clock .hour-container,
.clock .minute-container,
.clock .second-container{
    position: absolute;
}

.clock .hour-container .hour{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 100px;    
}

.clock .hour-container .hour::before{
    content: '';
    width: 5px;
    height: 50px;
    background-color: rgba(0, 255, 0, 0.259);
    box-shadow: 0px 0px 3px 1px #0f0;
    border-radius: 2px 2px 0 0;
    z-index: 11;
}

