*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    
}


.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 8px 1px #0f0;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.clock .numbers-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock .numbers-container .number{
    position: absolute;
    color: #0f0;
    text-shadow: 0 0 20px #0f0;
    transition: 1s;
    transform: rotate(calc(360deg / 12 * var(--n))) translate(0px , -90px) ;
}

.clock .numbers-container .number .num{
    color: inherit;
    transform: rotate(calc(360deg / (-12) * var(--n)));
}